
grant {
    permission java.io.FilePermission "log/-", "read,write";
    permission java.io.FilePermission "pics/*", "read";
    permission java.io.FilePermission "log\\-", "read,write";
    permission java.io.FilePermission "pics\\*", "read";
    permission java.io.FilePermission "WolvesAndSheep.jar", "read";
    permission java.lang.RuntimePermission "setIO", "";
};